#Main {
    background-color: #eeeeee;
}

#Main::after {
    display: table;
    clear: both;
    content: '';
}














.listX {
    display: inline-flex;
    height: 50px;
    width: 100%;
    overflow-x: scroll;
    background-color: #ffffff;
    padding: 0 30px;
}

.listX::-webkit-scrollbar {
    display: none;
}

.listX li {
    border: 1px solid #00000055;

    color: #222222;
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin: auto 3px auto;
    padding: 10px;
    border-radius: 3px;
    white-space: nowrap;
}

.listX li:hover {
    border-color: #000000;
}

/* .listX li:active {
    background-color: #000000;
} */












.maincontent {
    width: 100%;
    background-color: #eeeeee;
    float:right;
}

.item {
    
    aspect-ratio: 1 / 1;
    margin: 0.5%;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: #ffffff;
}

@media only screen and (min-width: 801px) {
    .maincontent {
        padding: 50px 100px;
    }

    .item {
        width: 32%;
    }
}

@media only screen and (min-width: 1201px) {
    .maincontent {
        padding: 50px 100px;
    }

    .item {
        width: 24%;
    }
}

@media only screen and (max-width: 800px) {
    .maincontent {
        padding: 50px 50px;
    }

    .item {
        width: 49%;
    }
}










.item p {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.item img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    padding: 50px;
    transform: translate(-50%, -50%);
}